/*
Theme Name: Özgürlük ve Demokrasi Adası
Author: Yasin Çalışır
Author URI: http://mtdesignworkshops.com/
Version: 1
License: GNU General Public License
License URI: license.txt
*/

@media (max-width: 575.98px) { 

}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .slideLogoOne{
        margin-top: 1.5rem;
    }

    .borderLeft {
        border-left: none !important;
    }
    .borderRight {
        border-right: none !important;
    } 
    hr {
        border: none !important;
    }
    .dropdown-menu-two a{
        font-size:9px;
    }
    .navbarBrandTwo {
        max-width: 220px;
    }
    div#navbarSupportedContent {
        position: absolute;
        margin-top: 23rem;
        background: rgb(0 0 0 / 78%);
        width: 100%;
        z-index: 99;
        padding: 1rem;
    }
    h4.title{
        font-size: 35px !important;
        padding-top: 10rem !important;
    }
    .bigBaslik{
        font-size: 30px;
    }
    a.topLink{
        text-align: center !important;
    }
    .mTop7{
        margin-top: 7rem !important;
    }
    .centerLogo {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .mobilDil {
        width: 30% !important;
    }
    .mobilSefer {
        width: 35% !important;
    }
    
    .mobilEbile {
        width: 30% !important;
    }
    .mobilSosyal{
        text-align: center !important;
    }
    /* .hakkimizdaMetin{
        padding-top: 15rem !important;
    } */
    .mobilMuze{
        height: 415px !important;
    }
    .panoramicLogo {
        padding-top: 2rem !important;
    }
    .blogLine{
        margin-left: 10rem !important;
    }
    .katre{
        margin-top: 0rem !important;
        margin-left: 0rem !important;
    }
    h3.haberBaslik {
        font-size: 15px;
    }
    .mTop4 {
        margin-top: 2rem;
    }
    
    .icBg{
        padding: 3rem;
        position:relative;
    }
    .sticky{

    left: 1rem;
    }
    .icon-bar{
        display: block;
    }  
    .hakkimizdaOff{
        display: block !important;
    }
    .hakkimizdaOn{
        display: none !important;
    }

    .slideLogo {
        height: 460px;
        padding-top: 12rem;
    }
    .iframeQr {
        width: 300px;
        height: 500px;
    }
    .slideLogoOne{
        width: 300px;
      }
      .bgIndex{
        height: 625px; 
    }
    .pic-wrapper{
        height: 625px; 
    }
    .phoneOff{
        display: none !important;
    }
    .carousel-control-prev{
        margin-left: -2rem !important;
    }
    .carousel-control-next{
        margin-right: -1rem  !important;
    }
    .card{
        margin-bottom: 1rem;
    }
    div#navbarSupportedContent {
        background: #071f3e;
        padding: 1rem;
        z-index: 3;
    }
    .col-md-4.p0{
        padding:0px !important;
    }
        .col-md-3.p0{
        padding:0px !important;
    }
            .mobilSlide1{
            margin-left: 8rem !important;
            top: -10px;
    }
    .mobilSlide2{
            margin-left: 9rem !important;
            top: -10px;
    }
    .modal-dialog.modal-lg{
        margin-top: 16rem;
    }
    .sol-dizi{
        max-width: 33%;
    }
    .homeSlide{
        height: 624px;
    }
    .deskLogo{
        display: none;
    }
    .phoneLogo{
        display: block !important;
    }
    .p-bottomTwo{
        padding-bottom: 2rem;
    }
    .m-text-c{
        text-align: center;
    }
    .footerBaslık{
        margin-top: 1rem;
    }
    .dropdown-menu.dropdown-menu-two.show {
        text-align: center;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .deskLogo{
        display: none;
    }
    .dropdown-menu.dropdown-menu-two.show {
        text-align: center;
    }
    
    .phoneLogo{
        display: block !important;
    }
    .homeSlide{
        height: 624px;
    }
    .borderLeft {
        border-left: none !important;
    }
    .slideLogoOne{
        margin-top: 1.5rem;
    }
    .borderRight {
        border-right: none !important;
    } 
    hr {
        border: none !important;
    }
    div#navbarSupportedContent {
        position: absolute;
        margin-top: 23rem;
        background: rgb(0 0 0 / 78%);
        width: 100%;
        z-index: 99;
        padding: 1rem;
    }
    h4.title{
        font-size: 35px !important;
        padding-top: 10rem !important;
    }
    .bigBaslik{
        font-size: 30px;
    }
    a.topLink{
        text-align: center !important;
    }
    .mTop7{
        margin-top: 7rem !important;
    }
    .centerLogo {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .mobilDil {
        width: 30% !important;
    }
    .mobilSefer {
        width: 35% !important;
    }
    
    .mobilEbile {
        width: 30% !important;
    }
    .mobilSosyal{
        text-align: center !important;
    }
/* 
    .hakkimizdaMetin{
        padding-top: 15rem !important;
    } */
    .mobilMuze{
        height: 415px !important;
    }
    .panoramicLogo {
        padding-top: 2rem !important;
    }
    .blogLine{
        margin-left: 10rem !important;
    }
    .katre{
        margin-top: 0rem !important;
        margin-left: 0rem !important;
    }
    h3.haberBaslik {
        font-size: 15px;
    }
    .mTop4 {
        margin-top: 2rem;
    }
    
    .icBg{
        padding: 3rem;
        position:relative;
    }
    .sticky{

        left: 1rem;
    }
    .icon-bar{
        display: block;
    }
    .hakkimizdaOff{
        display: block !important;
    }
    .hakkimizdaOn{
        display: none !important;
    }

    .slideLogo {
        height: 460px;
        padding-top: 12rem;
    }
    .slideLogoOne{
        width: 300px;
      }
      .bgIndex{
        height: 625px; 
    }
    .pic-wrapper{
        height: 625px; 
    }
    .phoneOff{
        display: none !important;
    }
    .borderLeft{
        border:none ;
    }
    .borderRight{
        border: none;
    }
    div#navbarSupportedContent {
        background: #071f3e;
        padding: 1rem;
        z-index: 3;
    }
    .carousel-control-prev{
        margin-left: -2rem !important;
    }
    .carousel-control-next{
        margin-right: -1rem  !important;
    }
        .hotelKatre{
        font-size:.7rem;
    }
            .col-md-4.p0{
        padding:0px !important;
    }
        .col-md-3.p0{
        padding:0px !important;
    }


 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .deskLogo{
        display: none;
    }
    .phoneLogo{
        display: block !important;
    }
    .icon-bar{
        display: none !important;
    }
        .sticky{

    left: 1rem;
    }
    .slideLogo {
        height: 460px;
        margin-top: 9rem;
    }
    .haberButon{
        padding-left: 10px;
        padding-right: 10px;
    }
    .mobilSosyal{
        min-width: 230px;
    }
 .col-md-4.p0.p1 {
    padding-left: 1rem !important;
}
    .mobilDil {
        min-width: 95px;
    }
    .borderLeft{
        border:none ;
    }
    .borderRight{
        border: none;
    }
    div#navbarSupportedContent {
        background: #071f3e;
        padding: 1rem;
        z-index: 3;
    }
    .carousel-control-prev{
        margin-left: -1rem !important;
    }
    .carousel-control-next{
        margin-right: -1rem  !important;
    }
    .TabletCard{
        min-width: 49%  !important;
        margin-bottom: 1rem;
    }
    .haberBaslik{
        font-size: 1.3rem;
    }
    .bosDiv{
        display: none;
    }
    .haberMetinTablet{
        margin-left: 1.5rem;
    }
    .haberButton{
        min-width: 150px;
    }
    .blogLine{
        margin-left: 5rem;
    }
    .tabletUstE {
        width: 150px !important;
        max-width: 150px !important;
    }
    .hotelKatre{
        font-size:.7rem;
    }
        .col-md-4.p0{
        padding:0px !important;
    }
        .col-md-3.p0{
        padding:0px !important;
    }
        .title {
    padding-top: 7rem;
    font-size: 47px;
    color: white;
    font-family: 'Prata', serif !important;
}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .icon-bar{
        display: none !important;
    }
    .hakkimizdaOff{
        display: none !important;
    }
    .hakkimizdaOn{
        display: block !important;
    }
    .haberButon{
        padding-left: 10px;
        padding-right: 10px;
    }
    .borderLeft{
        border:none ;
    }
    .borderRight{
        border: none;
    }
    a.navbar-brand.navbarBrandTwo.borderRight{
        padding-right: 20px  !important;
    }
    .carousel-control-prev{
        margin-left: -2rem !important;
    }
    .carousel-control-next{
        margin-right: -2rem  !important;
    }
    .tabletUstE {
        width: 150px !important;
        max-width: 150px !important;
    }
    .title {
    padding-top: 6rem;
    font-size: 58px;
    color: white;
    font-family: 'Prata', serif !important;
}
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .icon-bar{
        display: none !important;
    }
    .hakkimizdaOff{
        display: none !important;
    }
    .hakkimizdaOn{
        display: block !important;
    }
 }

button.navbar-toggler.collapsed {
    color: white !important;
    border: 1px solid !important;
}
button.navbar-toggler{
    color: white !important;
    border: 1px solid !important;  
}

.phoneLogo{
    display: none;
}