/*
Theme Name: Özgürlük ve Demokrasi Adası
Author: Yasin Çalışır
Author URI: http://mtdesignworkshops.com/
Version: 1
License: GNU General Public License
License URI: license.txt
*/

html {
  scroll-behavior: smooth;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ======

body{
  font-family: serif !important;
}
a {
    font-family: 'Karla', sans-serif !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.bgIndex{
  width: 100%;
  height: 885px;
  position: absolute;
  background-image: linear-gradient(180deg, rgb(7 31 62 / 69%), rgb(82 152 126 / 68%));
  z-index: 0;
  top: 0;
}

 a.topLink{
    font-size: 12px;
    color: #fff !important;
}
.borderRight{
  border-right: .5px solid rgb(255 255 255 / 20%);
}
.borderLeft{
  border-Left: .5px solid rgb(255 255 255 / 20%);
}
.paddingLeft{
  padding-left: 1rem;
}
.borderTop{
  border-top: .5px solid rgb(255 255 255 / 20%) ;
}
.borderBottom{
  border-bottom: .5px solid rgb(255 255 255 / 20%) ;
}

.navMenuLink{
  font-size:13px ;
  font-family: 'Karla', sans-serif !important;
  color: white ;
}

.dropdown-menu-two {
  background: rgb(0 0 0 / 56%) !important;
  font-size: 14px !important;
  line-height: 3;
}

.dropdown-menu-two a{
  color: #fff;
  font-size: 13px;
}

.centerLogo{
  padding-top: 10rem;
  padding-bottom: 10rem;
  max-width: 700px;
}
hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0;
  border-top: .5px solid rgb(255 255 255 / 20%) !important;
}
.navbarHeight{
  padding: 0px !important;
  min-height: 75px;
}

.navbarBrandTwo{
padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.padding0{
  padding: 0px !important;
}

.smallBaslik{
  font-size: 17px;
  font-family: 'Karla', sans-serif !important;
  color: white;
}

.smallAltBaslik{
  font-size: 14px;
  font-family: 'Karla', sans-serif !important;
  color: white;
}

.padding-top-30{
  padding-top: 30px;
}
.hakkimizdaBg{
  background: #071f3e;
  color: white;
  position:relative;
}

.hakkimizdaMetin{
  font-size: 16px;
  padding: 4rem;
  font-family: 'Karla', sans-serif !important;

}
.devamıHakkımızda{
  font-size: 16px;
  color: white;
}

.baslikSmall{
  color: #52987e;
  font-size: 18px;
  font-family: 'Karla', sans-serif !important;
}

.bigBaslik{
  color: #071f3e;
  font-size: 45px;
}
.icBg{
  background: #f3f3f3;
  padding: 4rem;
  line-height: 1.5;
}
.paddingt20{
  padding-top: 20px;
}
.paddingt15{
  padding-top: 15px;
}
.ptop40{
  padding-top: 40px;
}

.ptop50{
  padding-top: 50px;
}

.metin{
  color: #797979;
  font-family: 'Karla', sans-serif !important;
}

.prev{
  width: 40px !important;
  border-radius: 2rem;
  border: 1px solid #333;
  height: 40px;
  margin-top: 1rem;
  color: #000 !important;
  margin-left: 1rem;
}

.next{

  width: 40px !important;
  border-radius: 2rem;
  border: 1px solid #333;
  height: 40px;
  margin-top: 1rem;
  color: #000 !important;
  float: left;
  left: 3rem;
  margin-left: 1rem;

}

.carousel-inner img{
  border-radius: 1rem;
  max-height: 423px;
}

.hrTwo{
  border-top: 1px solid rgba(0,0,0,.1) !important;
}

.tamamı{
  border: 1px solid;
    border-radius: 20rem;
    width: 100px;
    height: 100px;
    padding-top: 2rem;
    font-size: 13px;
    float: revert;
    position: relative;
    right: 0px;
    transition: .5s;
    color: #071f3e !important;
}
.tamamı a{
  color: #071f3e !important;
}
.tamamı a:hover{
  color: #fff !important;
}


.tamamı:hover{
  background: #071f3e;
  color:#fff;
  transition: .5s;
}

.pTop80{
  padding-top: 80px;
}
.pTop100{
  padding-top: 100px;
}

.evetSmall{
  font-size: 13px;
  font-family: 'Karla', sans-serif !important;
  color: #071f3e;
}

.eventBaslik{
  font-size: 20px;
  color: #071f3e;
  padding-top: 5px;
}

.eventDate{
  font-size: 12px;
  font-family: 'Karla', sans-serif !important;
  font-weight: 300;
  padding-top: 25px;

}

.pTop20{
  padding-top: 20px;
}

.eventMetin{
  border-left: 1px solid;
  margin-top: 1rem;
  padding-left: 20px;
  padding-bottom: 2rem;
  border-bottom: 1px solid;
}

.eventDevam{
  position: absolute;
    margin-top: -13px;
    margin-left: 20px;
    letter-spacing: 2px;
    background: #f3f3f3;
    width: 87%;
    padding-left: 1rem;
    color: #071f3e;
}
.eventDevam a{
  color: #071f3e;
  font-weight: bold;
  font-size: 12px;
}

.padding-bottom3{
  padding-bottom: 3rem;
}

.haberImg{
  border-radius: 6rem;
  width: 130px;
}

.haberSatır{
  border: 1px solid #071f3e;
    padding: 2rem;
}
.haberBaslik{
  padding-top: 25px;
}
.haberMetin{
 color: #a1a1a1;
 font-family: 'Karla', sans-serif !important;
}

.mTop4{
  margin-top: 4rem;
}

.haberButon{
    text-align: center;
    border: 1px solid #071f3e;
    padding: 1rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Karla', sans-serif !important;
    transition: .5s;
    color: #071f3e;
    text-decoration: none !important;
}

.haberButon:hover{
  background: #071f3e;
  color: white !important;
  transition: .5s;
}

.haberTamamı{
  color: #071f3e;
  font-weight: bold;
  letter-spacing: 1px;
}
.blogMetin{
  padding-top: 1rem;
  text-align: center;
}
.blogDevam{
  padding-top: 20px;
  font-weight: bold;
  color: #071f3e;
  letter-spacing: 2px;
  font-size: 12px;
}

.blogLine{
  width: 2px;
  height: 40px;
  position: absolute;
  background: #071f3e;
  margin-left: 8rem;
  margin-top: -27px;
}

.galeriBg{
  background: #071f3e;
  padding: 4rem;
  line-height: 1.5;
  color: white;
  padding-bottom: 1rem;
}

.colorWhite{
  color: white;
}

.modalImgClose{
  position: absolute;
  margin-top: 1rem;
  float: right;
  right: 12px;
  z-index: 1;
}

.ımgModalBody{
  padding: 0px !important;
}

.galeriImg:hover {
  background: #071f3e;
  opacity: .5;
  transition: .5s;
}

.galeriImg {
  cursor: pointer;
  transition: .5s;
  margin-bottom: 25px;
}

.footerBg{
  padding: 6rem;
  background: #fff;
  padding-bottom: 2rem;
}

.aboneOl{
  color: #fff;
    background-color: #071f3e !important;
    border-color: #041831 !important;
}

.footerBaslık{
  color: #071f3e;
  font-size: 18px;
}

.footerAltMenu{
  font-size: 14px;
  line-height: 2;
  color: #071f3e !important;
}

.padding0{
  padding: 0px;
}
.blogDevam a{
  color: #071f3e;
}

.panoramicLogo{
  margin-top: 7rem;
  max-width: 250px;
}

.muzeHead{
  color: white;
  font-family: 'Karla', sans-serif !important;
  letter-spacing: 2px;
}

.panoramicButton{
  border-color: #fff;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background: #fff;
}

.bgHakkimizda {
  height: 446px !important;
}

.title{
  padding-top: 8rem;
  font-size: 70px;
  color: white;
  font-family: serif !important;
}

.mTop8{
  margin-top: 8rem;
}

.mTop7{
  margin-top: 7rem;
}

.ınputType{
    border-radius: 0 !important;
    background: none !important;
    border-color: #071f3e !important;
}

.btn-date {
    border-color: #071f3e !important;
    border-radius: 0 !important;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.iframeQr {
  width: 100%;
  height: 500px;
}

.mTop5{
  margin-top: 5rem;
}

.haberDetay{
  font-family: 'Karla', sans-serif !important;
  line-height: 1.7;
}

.haberDate{
  font-family: serif !important;
}
.borderLeftTwo {
  border-Left: .5px solid rgb(0 0 0 / 20%);
}
.iletisimDetay{
  padding-top: 30px;
  font-family: 'Karla', sans-serif !important;
  color: #071f3e;
}

.table-bordered {
  border: 1px solid #071f3e !important;
  border-style: dashed !important;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #071f3e !important;
  border-style: dashed !important;
}

.tableHead{
  background: #1f3551;
  padding: 1rem;
  color: white;
  border-radius: .5rem;
}

.shadows{
  box-shadow: 0px 0px 33px 0px #ccc;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.table{
  font-family: 'Karla', sans-serif !important;
}

.map{
  border: 0;
    border-radius: 1rem;
    box-shadow: 0px 0px 33px 0px #ccc;
}

.logoBlue {
  background: #08203e;
}

.logoGreen {
  background: #529a7f;
  margin-top: 20px;
}

.logoOrjin {
  background: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.a-canvas{
  width: 100% !important;
  height: 650px !important;
  position: relative !important;
}

.hotelKatre{
  padding: .7rem;
  border: 1px solid #fff;
  color:#071f3e !important;
  width: 100%;
  background: #fff;
  font-weight: 400;
  border-radius: .3rem;
}

.katre{
  
  margin-top: 2rem;
  margin-left: 2rem;
}

a{
  text-decoration: none !important;
}

.card{
  border: none !important;
  background: none !important;
}

a.btn.btn-primary {
  color: white;
}
span.collapseArrow {
  font-size: 18px;
  margin-left: 1rem;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14x;
  float: right;
  z-index: 300;
  right: 0;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  width: 50px;

}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.btnCall {
  background: none;
  border-radius: 0;
  border: 1px solid #fff;
  color: #fff !important;
  transition: .5s;
  font-weight: bold;
}

.btnCall:hover {
  background: #fff;
  border-radius: 0;
  border: 1px solid #fff;
  color: #000 !important;
  transition: .5s;
}

.slideLogo{
  height: 700px;
  padding-top: 10rem;
}

.slideLogoOne{
  width: 500px;
  margin-top: 6.5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -15px !important;
  background: #071f3e;
  margin-right: -15px !important;
  z-index: 3;
  box-shadow: 3px 3px 8px #071f3e;
  height: 75px;
}
#navbar{
  height: 75px;
}

.gezi:hover{
  box-shadow: 3px 6px 20px #ccc;
  transition: 0.5s;
}
.gezi{
  transition: 0.5s;
}

.modal-backdrop{
  z-index: 332  !important;
}

a.instagram {
    background: #30618A;
}
.sticky{
    left: 1rem;
}


.st-one{
  width: 40px;
  background: #2196f3;
  color: white;
  text-align: center;
}
.st-two{
  color: #f32121;
  text-align: center;
  border: 1px solid #ccc;
  border-top: none;
}
.st-tree{
  background: none;
  color: #f39f21;
  text-align: center;
  border: 1px solid #ccc;
  border-top: none;
}

.PratikInfo {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: -3px 3px 0px 0px #3131314f;
  margin-left: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.col-md-6.mBottomThree {
    margin-bottom: 3rem;
}

.borderNone{
  border: none;
}
.mRight1{
  margin-right: .4rem;
}
.blue{
  color: #52987e;
}
.homeSlide{
  height: 735px;
}

a {
  color: #071f3e;
}