<!doctype html>
<html lang="tr">
{% load static %}
{% load i18n %}
{% load custom_tags %}

<!--Header Başlangıç-->

{#{% load google_analytics_js %}#}
{#{% load yandex_metrica %}#}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="keywords" content="{% block other_metas %}{% endblock %}"/>
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Prata&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DJ85813M5L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-DJ85813M5L');
    </script>

    {#        {{ google_analytics_code }}#}
    {#    {{ yandex_metrics_code }}#}
    {#    {% google_analytics_js %}#}
    {#    {% yandex_metrica %}#}
</head>

<body>
<div class="btn-group dropleft icon-bar">
    <button style="background: rgb(0 0 0 / 65%);color: #fff;" type="button" class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-share-alt"></i>
    </button>
    {% social_media as social %}
    <div class="dropdown-menu" style="max-width: 50px !important;padding:0px; min-width: 50px;">
        {% for item in social %}
            <a href="{{ item.link }}" class="{{ item.title }}"><i class="fab {{ item.icon }}"></i></a>
        {% endfor %}
    </div>
</div>
<!--Header Bitiş-->
<body>
{% block body %}

{% endblock %}

<!--Footer Başlangıç-->

{% include 'footer.html' %}

<!--Footer Bitiş-->
