{% load static %}
{% load i18n %}

{% if blogs %}
    <div class="container-fluid icBg" >
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="baslikSmall">{% trans 'BLOG' %}</h4>
                    <h1 class="bigBaslik paddingt15">{% trans 'Röportajlar & Yayınlar' %}</h1>
                </div>
            </div>
            <div class="row pTop80">
                {% for blog in blogs %}
                    <div class="col-md-3 p-bottomTwo">
                        <p><img src="{{ blog.thumbnail_image.url }}" width="100%" /></p>
                        <div class="blogLine"></div>
                        <div class="blogMetin">
                            <smal class="evetSmall">{{ blog.short_description }}</smal>
                            <h3 class="eventBaslik">{{ blog.title }}</h3>
                            <small class="eventDAte">{{ blog.date_range }}</small>
                            <div class="blogDevam"><a href="{% url 'blog_detail' blog.slug %}">{% trans 'DEVAMI' %}</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}