{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--================ Contact Area =================-->
	<section class="contact-area section-gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6">
					<div id="contactMap"></div>
				</div>
				{% if contacts %}
                <div class="offset-lg-1 col-lg-5 col-md-6">
					<div class="section-title relative">
						<h1>
							{{contacts.title}} <br>
						</h1>
						<div class="mb-40">
							<p>{{ contacts.address }}</p>
							<p>{{ contacts.city }}</p>
						</div>
						<div class="mb-40">
							<p>{{ contacts.country_code }}{{ contacts.phone1 }}</p>
							<p>{{ contacts.country_code }}{{ contacts.phone2 }}</p>
							<p>{{ contacts.country_code }}{{ contacts.fax}}</p>
						</div>
						<div class="mail">
							<p>{{ contacts.email }}</p>
						</div>
					</div>
				</div>
                {% endif %}
			</div>

		</div>
	</section>
	<!--================ End Contact Area =================-->
{% endblock content %}