{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block meta_description %}{{ contact.meta_description }}{% endblock %}
{% block other_metas %}{{ contact.other_metas }}{% endblock %}
{% block meta_title %} {{ contact.meta_title }} {% endblock %}

{% block body %}


    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->

    <div style="height:446px;">
        <!--Slide Başlangıç-->
        <div class="pic-wrapper bgHakkimizda">
            <figure class="pic-1 fig"></figure>
            <figure class="pic-2 fig"></figure>
            <figure class="pic-3 fig"></figure>
            <figure class="pic-4 fig"></figure>
        </div>

        <div class="bgIndex bgHakkimizda"></div>

        <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
            <h4 class="title">{% trans 'İletişim' %}</h4>
        </div>
    </div>

    <div class="container-fluid icBg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="baslikSmall">{% trans 'İLETİŞİM BİLGİLERİ' %}</h4>
                    <h1 class="bigBaslik paddingt15">{% trans 'Demokrasi ve' %} <br>{% trans 'Özgürlük Adası' %}</h1>
                    <div class="row ptop50">
                        <div class="col-md-6">
                            <h4 class="baslikSmall">{% trans 'İLETİŞİM BİLGİLERİ' %}</h4>
                            <div><i style="color: #52987e;" class="fas fa-phone-square"></i> <a
                                    href="tel:+{{ contact.country_code }}{{ contact.phone1 }}">
                                {{ contact.country_code }}{{ contact.phone1 }}</a></div>
                            <div><i style="color: #52987e;" class="fas fa-phone-square"></i> <a
                                    href="tel:+{{ contact.country_code }}{{ contact.phone2 }}">
                                {{ contact.country_code }}{{ contact.phone2 }}</a></div>
                            <div class="row">
                                <div class="col-md-12 ptop50">
                                    <h4 class="baslikSmall">{% trans 'E-POSTA ADRESİ' %}</h4>
                                    <div><i style="color: #52987e;" class="fas fa-envelope"></i> <a
                                            href="mailto:{{ contact.email1 }}">{{ contact.email1 }}</a></div>
                                    <div><i style="color: #52987e;" class="fas fa-envelope"></i> <a
                                            href="mailto:{{ contact.email2 }}">{{ contact.email2 }}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="baslikSmall">{% trans 'İLETİŞİM FORMU' %}</h4>
                        </div>
                    </div>
                    {% csrf_token %}
                    <form class="padding-top-30" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{% trans 'Ad Soyad' %}</label>
                            <input type="text" name="name" placeholder="Ad Soyad Giriniz" class="form-control"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{% trans 'E-posta Adresi' %}</label>
                            <input type="email" name="email" placeholder="E-posta Adresinizi Girin" class="form-control"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">{% trans 'Telefon No' %}</label>
                            <input class="form-control" value="+90" type="tel" id="telefon" name="phone"
                                   pattern="[+]{1}[0-9]{11,14}" maxlength="14"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">{% trans 'Açıklama' %}</label>
                            <textarea class="form-control" name="message" id="exampleFormControlTextarea1"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <h6 class="footerAltBaslik"><p class="mtopOne">
                                <input type="checkbox" aria-label="Checkbox for following text input"
                                       id="kvkk1" name="kvkk1" required>
                                <a data-toggle="modal"
                                   style="cursor: pointer;"
                                   data-target="#staticBackdrop">
                                    {% trans 'Aydınlatma metnini okudum ve anladım' %}
                                </a></p></h6>
                        </div>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"
                                integrity="sha512-QMUqEPmhXq1f3DnAVdXvu40C8nbTgxvBGvNruP6RFacy3zWKbNTmx7rdQVVM2gkd2auCWhlPYtcW2tHwzso4SA=="
                                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        <link rel="stylesheet"
                              href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css"
                              integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw=="
                              crossorigin="anonymous" referrerpolicy="no-referrer"/>
                        <style>
                            .iti.iti--allow-dropdown {
                                width: 100%;
                            }

                        </style>
                        <script>
                            // Javascript
                            var input = document.querySelector("#telefon");
                            window.intlTelInput(input, ({
                                // bu alan özel ayarlar ekleyebilirsiniz
                                initialCountry: "tr"
                            }));

                            $(document).ready(function () {
                                $('.iti__flag-container').click(function () {
                                    var countryCode = $('.iti__selected-flag').attr('title');
                                    var countryCode = countryCode.replace(/[^0-9]/g, '')
                                    $('#telefon').val("");
                                    $('#telefon').val("+" + countryCode +  $('#telefon').val());
                                });
                            });
                        </script>

                        <div class="form-group">
                            <h6 class="footerAltBaslik"><p class="mtopOne">
                                <input type="checkbox" aria-label="Checkbox for following text input"
                                       id="kvkk2" name="kvkk2" required>
                                <a data-toggle="modal"
                                   style="cursor: pointer;"
                                   data-target="#staticBackdrop2">
                                    {% trans 'Açık Rıza Beyanını okudum, anladım ve onaylıyorum' %}
                                </a></p></h6>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-backdrop="static"
                             data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">
                                            {% trans 'KVKK Rıza Metni' %}</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% document_media as documents %}

                                        {{ documents.kvkk | safe }}


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">{% trans 'Kapat' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop2" data-backdrop="static"
                             data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">
                                            {% trans 'KVKK Rıza Metni' %}</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% document_media as documents %}
                                        {{ documents.acik_riza_beyani | safe }}

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">{% trans 'Kapat' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <input type="submit" formaction="{% url 'contact-form' %}" name="news"
                               class="btn btn-primary aboneOl "
                               value="{% trans 'Gönder' %}"/>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <hr class="hrTwo">


    <div class="container-fluid" style="margin-top:4rem;">
        <div class="container">
            <div class="row ptop50">
                <div class="col-md-12">
                    <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1508.6555367637966!2d28.99255604132475!3d40.86504705445851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca959956f571c7%3A0x9f5abbf7a487f652!2zRGVtb2tyYXNpIHZlIMOWemfDvHJsw7xrbGVyIEFkYXPEsQ!5e0!3m2!1str!2str!4v1608498620377!5m2!1str!2str"
                            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>





{% endblock %}