{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}Demokrasi Ve Özgürlük Adası | Etkinlikler{% endblock %}
{% block other_metas %}Demokrasi Ve Özgürlük Adası | Etkinlikler{% endblock %}
{% block meta_title %}Demokrasi Ve Özgürlük Adası | Etkinlikler{% endblock %}


{% block body %}



    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->

<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{% trans 'Güncel Etkinlikler' %}</h4>
    </div>
</div>


    <div class="container-fluid icBg ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <h1 class="bigBaslik" style="font-size: 30px;">{% trans 'Güncel Etkinlikler' %}</h1>
                    </div>
                </div>
            </div>
            <form action="" method="get">
                <div class="row ptop50">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="date" class="form-control ınputType" id="exampleInputDate" name="start_date"
                                   aria-describedby="date" placeholder="11.11.2020" value="{{ start_date }}" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="date" class="form-control ınputType" id="exampleInputDate" name="end_date"
                                   aria-describedby="date" placeholder="11.11.2020" value="{{ end_date }}" required>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <input type="submit" formaction="{% url 'events' %}" name="events" class="btn btn-date"
                               value="{% trans 'Etkinliği Gör' %}"/>
                    </div>
                </div>
            </form>


            <div class="row pTop80">
                {% if events %}
                    {% for event in events %}
                        <div class="col-md-4 padding-bottom3">
                            <div class="row pTop20">
                                <div class="col-md-12">
                                    <p><img src="{{ event.thumbnail_image.url }}" width="100%" /></p>
                                    <div class="eventMetin">
                                        <smal class="evetSmall">{{ event.title }}</smal>
                                        <h3 class="eventBaslik">{{ event.short_description }}</h3>
                                        <small class="eventDAte">{{ event.date_range }}</small></div>
                                    <div class="eventDevam"><a href="{% url 'event_detail' event.slug %}">{% trans 'DEVAMI' %}</a>
                                    </div>
                                </div>




{##}
{#                                <div class="col-md-1">&nbsp;</div>#}
{#                                <div class="col-md-2">#}
{#                                    <p><img class="haberImg" src="{{ new.thumbnail_image.url }}" width="100%" /></p>#}
{#                                </div>#}
{#                                <div class="col-md-6">#}
{#                                    <h3 class="haberBaslik">{{ new.title }}</h3>#}
{#                                    <small class="haberMetin">{{ new.short_description }}</small></div>#}
{#                                <div id="gtx-trans" style="position: absolute; left: 286px; top: 221.556px;">#}
{#                                    <div class="gtx-trans-icon">&nbsp;</div>#}
{#                                </div>#}
{#                                <div class="col-md-2 mTop4">#}
{#                                    <a class="haberButon"#}
{#                                       href="{% url 'news_detail' new.slug %}">{% trans 'Haberi Gör' %}</a></div>#}









                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>




    <!--Blog Başlangıç-->

    {% include 'blog.html' %}

    <!--Blog Bitiş-->







{% endblock %}