{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ object.meta_description }}{% endblock %}
{% block other_metas %}{{ object.other_metas }}{% endblock %}
{% block meta_title %} {{ object.meta_title }} {% endblock %}


{% block body %}


    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->


<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{{ object.title }}</h4>
    </div>
</div>



    <div class="container-fluid icBg" style="background: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if object.image %}
                        <p><img src="{{ object.image.url }}" width="100%" alt="{{ object.image_alt_text }}"/></p>
                    {% endif %}

                    <div class="row ptop50">
                        <div class="col-md-2 text-center">
                            <h4><a class="haberDate">{{ object.created_at|date:"d" }}</a></h4>
                            <a class="haberDate"><small>{{ object.created_at|date:"M Y" }}</small></a></div>

                        <div class="col-md-10 borderLeftTwo">
                            {{ object.content | safe }}
                        </div>
                    </div>
                    {#                    <div class="row ptop50">#}
                    {#                        <div class="col-md-12">#}
                    {#                            <h4>{% trans 'Paylaş' %}</h4>#}
                    {#                            <div class="row pTop20">#}
                    {#                                <div class="col-md-2">#}
                    {#                                    <a>Facebook</a>#}
                    {#                                </div>#}
                    {#                                <div class="col-md-2">#}
                    {#                                    <a>Instagram</a>#}
                    {#                                </div>#}
                    {#                                <div class="col-md-2">#}
                    {#                                    <a>Twitter</a>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>


{% endblock %}