{% load static %}
{% load i18n %}
{% load custom_tags %}
<!--Footer Başlangıç-->
<div class="container-fluid footerBg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="baslikSmall ">{% trans 'BİZİ TAKİP EDİN' %}</h4>
                <h1 class="bigBaslik  ">{% trans 'Abone Olun' %}</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small id="emailHelp"
                           class="form-text text-muted">{% trans 'Sergilerimiz, etkinliklerimiz ve daha fazlası hakkında e-posta güncellemeleri alın:' %}</small>
                    {% csrf_token %}
                    <form method="post">

                        <div class="row pTop20">

                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="email" name="mail" class="form-control" id="exampleInputEmail1"
                                           required aria-describedby="emailHelp" placeholder="{% trans 'E-posta Adresinizi Girin' %}">
                                </div>
                            </div>

                            <div class="col-md-4">

                                <input type="submit" formaction="{% url 'subscriber' %}" name="news"
                                       class="btn btn-primary aboneOl mb-2"
                                       value="{% trans 'Abone Ol' %}"/>

                            </div>

                        </div>
                        <div class="form-group">
                            <h6 class="footerAltBaslik"><p class="mtopOne">
                            <input type="checkbox" aria-label="Checkbox for following text input"
                                        id="kvkk2" name="kvkk2" required>
                            <a data-toggle="modal"
                                                                              style="cursor: pointer;"
                                                                              data-target="#staticBackdrop2">
                                {% trans 'Açık Rıza Beyanını okudum, anladım ve onaylıyorum' %}
                            </a> </p></h6>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop2" data-backdrop="static"
                             data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">
                                            {% trans 'KVKK Rıza Metni' %}</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% document_media as documents %}
                                        {{ documents.acik_riza_beyani | safe }}

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">{% trans 'Kapat' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr class="hrTwo" style="margin-top: 50px !important;">

        <div class="container m-text-c">
            <div class="row ptop50">
                <div class="col-md-3">
                    <img width="80%" src="{% static 'images/footerLogo.png' %}">
                </div>
                <di class="col-md-3">
                    <h4 class="footerBaslık">Menu</h4>

                    <div><a href="{% url 'travel-places' %}" target="_blank"
                            class="footerAltMenu">{% trans 'Gezilecek Yerler' %}</a></div>
                    <div><a href="{% url 'transportation' %}" target="_blank"
                            class="footerAltMenu">{% trans 'Ulaşım' %}</a></div>
                    <div><a href="{% url 'gallery' %}" target="_blank" class="footerAltMenu">{% trans 'Galeri' %}</a>
                    </div>
                    <div><a href="{% url 'sss' %}" target="_blank" class="footerAltMenu">S.S.S.</a></div>
                </di>
                <di class="col-md-3">
                    <h4 class="footerBaslık">Menu</h4>
                    <div><a href="{% url 'my_logo' %}" target="_blank"
                            class="footerAltMenu">{% trans 'Logomuzun Hikayesi' %}</a></div>
                    <div><a href="{% url 'contact' %}" target="_blank" class="footerAltMenu">{% trans 'İletişim' %}</a>
                    </div>
                </di>
                <div class="col-md-3">
                    <h4 class="footerBaslık">{% trans 'Ziyaret Bilgileri' %}</h4>

                    <div class="pTop20"><a class="footerAltMenu">{% trans 'Her gün: ' %}{% opening_time %}</a></div>

                    <div><a class="footerAltMenu">{% trans 'Pazartesi ve Tatiller: Kapalı' %}    </a></div>
                </div>
            </div>
        </div>

        <hr class="hrTwo" style="margin-top: 50px !important;">

        <div class="container">
            <div class="row ptop50">
                <div class="col-md-12">
                    <div style="text-align: center;">
                        {% social_media as social %}
                        {% for item in social %}
                            <a href="{{ item.link }}" target="_blank" class=" paddingLeft"
                               style="font-size: 1.5rem; color:#6c757d !important ;"><i class="fab {{ item.icon }}"></i></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <hr class="hrTwo" style="margin-top: 50px !important;">

        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-md-4 padding-top-30">
                    <a style="font-size: 13px;"
                       href="{% url 'home' %}">{% trans 'Demokrasi ve Özgürlükler Adası - 2020 / Tüm Hakları Saklıdır' %}</a>
                </div>
                <div class="col-md-2 padding-top-30">
                    <a style="font-size: 13px;"
                       href="{% url 'kullanim_kosullari' %}">{% trans 'Kullanım Koşulları' %}</a>
                </div>
                <div class="col-md-1 padding-top-30">
                    <a style="font-size: 13px;" href="{% url 'gizlilik' %}">{% trans 'Gizlilik' %}</a>
                </div>
                <div class="col-md-2 padding-top-30">
                    <a style="font-size: 13px;"
                       href="{% url 'bilgi_toplumu_hizmetleri' %}">{% trans 'Bilgi Toplumu Hizmetleri' %}</a>
                </div>
                <div class="col-md-3 padding-top-30">
                    <a style="font-size: 13px;"
                       href="{% url 'kisisel_verilerin_korunmasi_kanunu' %}">{% trans 'Kişisel Verilerin Korunması Kanunu' %}</a>
                </div>
            </div>
        </div>

    </div>
    <!--Footer Bitiş-->

</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
{% live_supports as live_support %}
    s1.src = '{{ live_support.url }}';
//s1.src='https://embed.tawk.to/60607cbaf7ce18270934bc5e/1f1sefaaa';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</html>






