{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ gallery.meta_description }}{% endblock %}
{% block other_metas %}{{ gallery.other_metas }}{% endblock %}
{% block meta_title %} {{ gallery.meta_title }} {% endblock %}


{% block body %}

    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->

<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{% trans 'Galeri' %}</h4>
    </div>
</div>


    <div class="container-fluid icBg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <h1 class="bigBaslik" style="font-size: 30px;">{% trans 'Ada Resimler' %}</h1>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="ımgOne" tabindex="-1" role="dialog" aria-labelledby="ımgOne"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <button type="button" class="close modalImgClose" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body ımgModalBody">

                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for item in galleries %}
                                        {% if item.id == 1 %}
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                                            </div>
                                        {% else %}
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                {% if galleries %}
                    {% for item in galleries %}
                        <div class="col-md-4" style="margin-top: 2rem;">
                            <img class="galeriImg" width="100%" data-toggle="modal" data-target="#ımgOne"
                                 src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>


    <!--Blog Başlangıç-->

    {% include 'blog.html' %}

    <!--Blog Bitiş-->
{% endblock %}