{% load static %}
{% load i18n %}
{% load sitetree %}
{% load custom_tags %}

{% get_site_languages as SITE_LANGUAGES %}
{% e_ticket as ETICKET %}


<div style="position: absolute;z-index: 99;width: 100%;"> 
<div class="container">
    <div class="row">
        <div class="col-md-1 borderRight mobilDil">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <a class="nav-link topLink dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if LANGUAGE_CODE == 'en' %}
                    EN
                {% elif LANGUAGE_CODE == 'tr' %}
                    TR
                {% elif LANGUAGE_CODE == 'ar' %}
                    AR
                {% elif LANGUAGE_CODE == 'ru' %}
                    RU
                {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for language in SITE_LANGUAGES %}
                    <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                       class="dropdown-item {% if language.code == LANGUAGE_CODE %}selected{% endif %}"
                       lang="{{ language.code }}">
                        {% if language.code == 'en' %}
                            EN
                        {% elif language.code == 'tr' %}
                            TR
                        {% elif language.code == 'ar' %}
                            AR
                        {% elif language.code == 'ru' %}
                            RU
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2  borderRight text-center mobilSefer" style="padding-top: 5px;"><a
                href="{% url 'contact' %}"
                class="topLink">{% trans 'SEFER SAATLERİ' %}</a></div>
        <div class="col-md-2  {% if ETICKET %} borderRight{% endif %} text-center mobilEbile" style="padding-top: 5px;">
            {% if ETICKET %}<a href="{% e_ticket_url %}" target="_blank"
                class="topLink">{% trans 'E-BİLET' %}</a>{% endif %}</div>
        <div class="col-md-4 tabletUstE"></div>
        <div class="col-md-3 text-left borderLeft mobilSosyal" id="borderLeft" style="padding-top: 5px;">
            {% social_media as medias %}
            {% for media in medias %}
                <a href="{{ media.link }}" target="_blank" class="topLink paddingLeft"><i
                        class="fab {{ media.icon }}"></i></a>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="col-md-12 padding0">
        <hr>
    </div>
</div>


<div class="container-fluid" style="height:75px;">
<div class="row">
<div id="header-main" >  
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
            
                <nav class="navbar navbarHeight navbar-expand-lg borderRight">
                    <a class="navbar-brand navbarBrandTwo borderRight" style=" padding-right: 25px;color:white;"
                       href="{% url 'home' %}">
                       <img width="100%" class="deskLogo" src="{% static 'images/headLogo.png' %}"/>
                       <span style="font-size:11px;color:white;" class="phoneLogo">
                         <img width="100" class="" src="{% static 'images/logoCenter.png' %}"/> Demokrasi Ve Özgürlükler Adası
                       </span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fal fa-bars"></i>
                    </button>

                    {% sitetree_menu from "mainmenu" include "trunk,topmenu" template "menu.html" %}

                </nav>
            


                {% comment %} <nav class="navbar navbarHeight navbar-expand-lg borderRight">
                    <a class="navbar-brand navbarBrandTwo borderRight" style=" padding-right: 25px;"
                       href="{% url 'home' %}"><img
                            width="100%" src="{% static 'images/headLogo.png' %}"/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fal fa-bars"></i>
                    </button>

                    {% sitetree_menu from "mainmenu" include "trunk,topmenu" template "menu.html" %}

                </nav> {% endcomment %}

            </div>
            </div>
        </div>
    </div>
    </div>
</div>




<div class="container-fluid">
    <div class="col-md-12 padding0">
        <hr>
    </div>
</div>

</div>

<style>
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0a2924;
}
.top-container {
  text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(255 255 255 / 88%);
}
#header-main{
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    width:100%;
    }
    #header-main .logo{
        float:left
        }
    #header-main .logo img{
            padding:10px 0
     }
        @media (max-width: 768px)
        {

        }
        @media (min-width: 768px){
            #header-main {
                float:right;
                
                }
            }
        @media (max-width: 768px){
            #header-main {
                width:100%;
                padding-bottom:10px
            }
            #header-main .menu-active{
                display:block;
                clear:both
                }
            }
            #header-main  ul{
                margin:0;
                padding-left:0
            }
            #header-main  ul li{
                list-style:none
            }
            @media (max-width: 768px){
                #header-main  ul li{
                    text-align:center;
                    margin-bottom:5px
                }
            #header-main  ul li a{
                padding:10px;
                display:block
            }
            #header-main  ul li a:hover{
                background-color:#e0e0e0;
                color:#2a4a5a
            }
            }
            @media (min-width: 768px){
                #header-main  ul li{
                    
                }
                #header-main  ul li a{
                    
                    }
                }
            #header-main #menu-icon{
                display:none
            }
            @media (max-width: 768px){
                #header-main #menu-icon{
                    background:#2a4a5a;
                    padding:18px 12px;
                    margin:2px 0;
                    position:relative;
                    top:20px;
                    display:block;
                    float:right;
                    z-index:10;
                    cursor:pointer;
                    -webkit-border-radius:4px;
                    -moz-border-radius:4px;
                    -ms-border-radius:4px;
                    -o-border-radius:4px;
                    border-radius:4px
                }
                #header-main #menu-icon .icon-menu-hamburguer{
                    background:#fff;
                    width:30px;
                    height:4px;
                    margin:2px 0;
                    display:block;
                    -webkit-border-radius:4px;
                    -moz-border-radius:4px;
                    -ms-border-radius:4px;
                    -o-border-radius:4px;
                    border-radius:4px
                }
                #header-main #menu-icon .icon-menu-hamburguer:after,#header-main #menu-icon .icon-menu-hamburguer:before{
                    content:'';
                    background:#fff;
                    width:30px;
                    height:4px;
                    display:block;
                    margin:2px 0;
                    position:relative;
                    -webkit-border-radius:4px;
                    -moz-border-radius:4px;
                    -ms-border-radius:4px;
                    -o-border-radius:4px;
                    border-radius:4px
                }
                #header-main #menu-icon .icon-menu-hamburguer:before{bottom:8px}
                #header-main #menu-icon .icon-menu-hamburguer:after{top:2px}
                }
                #header-main.active{
                    background-color: #071f3e;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    margin-bottom: 0;
                    box-shadow: 3px 0px 5px 0px rgb(0 0 0 / 38%);
                    -webkit-transition: all 0.5s linear;
                    -moz-transition: all 0.5s linear;
                    -ms-transition: all 0.5s linear;
                    -o-transition: all 0.5s linear;
                    transition: all 0.5s linear;
                    -ms-flex-pack: center!important;
                    justify-content: center!important;
                    z-index:2;
                    }

                    .dropdown-menu{
                        	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }
                    
	/* ----------------------------------------------
 * Generated by Animista on 2019-12-13 16:30:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.dropdown-menu{
    border: none;
    font-size: .8rem;
}


</style>

<script>
!function(){function n(){e(t,u,i)}
function e(n,e,c){y=pageYOffset,y>c?n.className=e:n.className=""}
function c(n,e){n.className=n.className?"":e}
function a(n){return document.getElementById(n)}var t=a("header-main"),i=500,m=a("menu-icon"),o=a("menu-main"),s="menu-active",u="active";window.addEventListener("scroll",n),m.onclick=function(){c(o,s)}}();

</script>