{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ home.meta_description }}{% endblock %}
{% block other_metas %}{{ home.other_metas }}{% endblock %}
{% block meta_title %} {{ home.meta_title }} {% endblock %}


{% block body %}

    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->

    <div class="homeSlide">
        <div class="pic-wrapper">
            <figure class="pic-1 fig"></figure>
            <figure class="pic-2 fig"></figure>
            <figure class="pic-3 fig"></figure>
            <figure class="pic-4 fig"></figure>
        </div>

        <div class="bgIndex"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center img-responsive slideLogo">
                        <div style="text-align: center;">
                            <img class="slideLogoOne" src="{% static 'images/logoCenter.png' %}"/>
                            <div class="pTop20">
                                <h3 style="color: white;">DEMOKRASİ VE ÖZGÜRLÜKLER ADASI</h3>
                                <small style="font-size: 18px;color: white;letter-spacing: 2px;">DEMOCRACY AND LIBERTIES
                                    ISLAND</small>
                                {% if home_button %}
                                    <div class="padding-top-30">
                                        <a class="btn btnCall" data-toggle="modal" data-target="#videoAlani"
                                           href="iletisim.html#seferSaatleri">{{ home_button.button_value }}</a>
                                    </div>
                                {% endif %}

                                <!-- Modal -->
                                <div class="modal fade" id="videoAlani" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="exampleModalLabel">{{ home_button.title }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe width="100%" height="415" src="{{ home_button.link }}"
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="col-md-12 padding0">
            <hr>
        </div>
    </div>

    <div class="container phoneOff">
        <div class="row">
            <div class="col-md-4 padding-top-30 borderRight">
                <h4 class="smallBaslik">{% trans 'AÇILIŞ SAATİ' %}</h4>
                <p class="smallAltBaslik padding-top-30">{% trans 'HAFTA İÇİ' %} : {{ home.opening_time }} <br>
                    {% trans 'HAFTA SONU KAPALI' %}
                </p>
            </div>
            <div class="col-md-4 padding-top-30 borderRight">
                <h4 class="smallBaslik">{% trans 'GÜNCEL ETKİNLİKLER' %}</h4>
                <p class="smallAltBaslik padding-top-30">
                    <a style="color: white;"
                       href="{% url 'event_detail' last_event.slug %}">{{ last_event.title }} </a> <br>
                    <a style="color: white;"
                       href="{% url 'event_detail' last_event.slug %}">{{ last_event.date_range }}</a>
                </p>
            </div>
            <div class="col-md-4 padding-top-30">
                <div class="katre">
                    <a href="{{ home.hotel_url }}" target="_blank" class="hotelKatre">
                        {% trans 'KATRE ISLAND HOTEL' %} <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--Hakkımızda Başlangıç-->
    <div class="container-fluid hakkimizdaBg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center hakkimizdaMetin">
                    <p>
                        {{ home.content | safe }}
                    </p>
                    {% if home.content_continue %}
                        <a class="devamıHakkımızda" onclick="removeElement()" id="imgbox1" data-toggle="collapse"
                           href="#collapseExample" role="button" aria-expanded="false"
                           aria-controls="collapseExample">{% trans 'DEVAMI' %}</a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <p class="hakkimizdaOff">
                                    {{ home.content_continue | safe }}
                                </p>

                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <script>
        function removeElement() {
            document.getElementById("imgbox1").style.display = "none";
        }
    </script>
    <!--Hakkımızda Bitiş-->

    <!--Gezilecekyerler Başlangıç-->
    {% include 'home_places.html' %}
    <!--Gezilecekyerler Başlangıç-->


    <!--Yeni Eklenen Alan Müzeler Başlangıç-->


    <div class="container-fluid icBg" style="padding-top: 2rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="baslikSmall">{% trans 'MÜZELER' %}</h4>
                    <h1 class="bigBaslik ">{% trans 'Demokrasi ve <br>Özgürlük Adası' %}</h1>
                </div>
            </div>
            <div class="row pTop80">
                {% for item in museums %}
                    <div class="col-md-4 TabletCard">
                        <div class="card gezi" style="border: 1px solid #ccc !important;">
                            {% if  item.image %}
                                <img class="card-img-top" data-src="holder.js/100px180/" alt="{{ item.image_alt_text }}"
                                     style="height: 250px; width: 100%; display: block;" src="{{ item.image.url }}"
                                     data-holder-rendered="true">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.content |safe | slice:":160" }}
                                </p>
                                <a type="submit" href="{% url 'museum_detail' item.slug %}"
                                   class="btn btn-primary aboneOl mb-2">{% trans 'DEVAMI' %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Yeni Eklenen Alan Müzeler Bitiş-->




    <!--Yeni Eklenen Alan PRATİK BİLGİLER Başlangıç-->
    {% if practical_informations %}
        <div class="container-fluid icBg" style="padding-top: 0rem;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="baslikSmall">{% trans 'PRATİK BİLGİLER' %} </h4>
                        <h1 class="bigBaslik ">{% trans 'Demokrasi ve <br>Özgürlük Adası' %}</h1>
                    </div>
                </div>
                <div class="row pTop80">
                    {% for practical_information in practical_informations %}
                        <div class="col-md-6 mBottomThree">
                            <div class="card"
                                 style="background-color: #fff !important;box-shadow: 0px 1px 13px 1px #ccc;">
                                <div style="text-align: center;">
                                    <i class="fas fa-info st-one PratikInfo"></i>
                                    <i class="fas fa-exclamation PratikInfo st-two"></i>
                                    <i class="fas fa-question PratikInfo st-tree"></i>
                                </div>
                                <div class="card-body" style="padding-left:2rem;">
                                    <h5 class="card-title">{{ practical_information.title }}</h5>
                                </div>
                                <ul class="list-group list-group-flush" style="padding:1rem;margin-top: -24px;">
                                    {% for item in practical_information_items %}
                                        {% if item.practical_information.id == practical_information.id %}
                                            <li class="list-group-item borderNone"><i
                                                    class="fa fa-info blue mRight1"></i> {{ item.label }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <hr class="hrTwo">
    {% endif %}


    <!--Yeni Eklenen Alan PRATİK BİLGİLER Bitiş-->

    <!--News Activity Başlangıç-->
    {% include 'new_events.html' %}
    <!--New Activity Bitiş-->

    <hr class="hrTwo">
    {% if news %}
        <!--Habeler Başlangıç-->
        <div class="container-fluid icBg">
            <div class="container">
                <div class="row" style="padding-bottom: 2rem;">
                    <div class="col-md-10">
                        <h4 class="baslikSmall">{% trans 'DEMOKRASİ VE ÖZGÜRLÜK ADASI' %}</h4>
                        <h1 class="bigBaslik paddingt15">{% trans 'Güncel Duyurular' %}</h1>
                    </div>
                </div>

                {% for new in news %}
                    <div class="row pTop20">
                        <div class="col-md-12 haberSatır">
                            <div class="row">
                                <div class="col-md-1 bosDiv">&nbsp;</div>
                                <div class="col-md-2">
                                    {% if new.thumbnail_image %}
                                        <p><img class="haberImg" src="{{ new.thumbnail_image.url }}" width="100%"/></p>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 haberMetinTablet">
                                    <h3 class="haberBaslik">{{ new.title }}</h3>
                                    <small class="haberMetin">{{ new.short_description }}</small></div>
                                <div id="gtx-trans" style="position: absolute; left: 286px; top: 221.556px;">
                                    <div class="gtx-trans-icon">&nbsp;</div>
                                </div>
                                <div class="col-md-2 mTop4 haberButton">
                                    <a class="haberButon"
                                       href="{% url 'news_detail' new.slug %}">{% trans 'Duyuru Gör' %}</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-12 padding-top-30">
                        <a href="{% url 'news' %}" class="haberTamamı">{% trans 'DUYURULARIN TAMAMI' %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--Haberler Bitiş-->

    <hr class="hrTwo">

    <!--Blog Başlangıç-->

    {% include 'blog.html' %}

    <!--Blog Bitiş-->

    <!--Gallery Başlangıç-->
    {% include 'home_gallery.html' %}
    <!--Gallery Bitiş-->

{% endblock %}