{% load static %}
{% load i18n %}

<!--Gezilecekyerler Başlangıç-->
<div class="container-fluid icBg">
    <div class="container">
        {% if places %}
            <div class="row">
                <div class="col-md-10">
                    <h4 class="baslikSmall">{% trans 'GEZİLECEK YERLER' %}</h4>
                    <h1 class="bigBaslik ">{% trans 'Demokrasi ve <br>Özgürlük Adası' %}</h1>
                </div>
            </div>
            <div class="row ptop50">
                <div class="col-md-12">

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for item in places %}

                                <div class="carousel-item {% if forloop.first %} active{% endif %}">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="haberBaslik paddingt15">{{ item.title }}</h3>
                                                </div>
                                            </div>
                                            <p class="pTop20 metin">{{ item.short_description }}</p>
                                            <p class="pTop20"><a type="submit"
                                                                 href="{% url 'travel-places-detail' item.slug %} "
                                                                 class="btn btn-primary aboneOl mb-2">{% trans 'Devamı' %}</a>
                                            </p>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {% if item.image %}
                                                        <img class="d-block w-100 h-100" src="{{ item.image.url }}"
                                                             alt="{{ item.image_alt_text }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a style="    width: 40px;  margin-left: -5rem; font-size: 2rem;" class="carousel-control-prev"
                           href="#carouselExampleControls" role="button" data-slide="prev">
                            <i class="fas fa-chevron-left" style="color: #000;" aria-hidden="true"></i>
                        </a>
                        <a style="width: 40px;margin-right: -5rem;font-size: 2rem;" class="carousel-control-next"
                           href="#carouselExampleControls" role="button" data-slide="next">
                            <i class="fas fa-chevron-right" style="color: #000;" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>
            </div>
        {% endif %}
    </div>
</div>
<!--Gezilecekyerler Başlangıç-->

