{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}Demokrasi Ve Özgürlük Adası | Kullanım Koşulları{% endblock %}
{% block other_metas %}Demokrasi Ve Özgürlük Adası | Kullanım Koşulları{% endblock %}
{% block meta_title %}Demokrasi Ve Özgürlük Adası | Kullanım Koşulları{% endblock %}


{% block body %}


    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->


<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{{ document.title }}</h4>
    </div>
</div>


    <div class="container-fluid icBg">
        <div class="container">

            <div class="row ">
                <div class="col-md-12">
                    <p>
                        {{ document.kullanim_kosullari | safe }}
                    </p>
                </div>
            </div>
        </div>

    </div>


    <hr class="hrTwo">



{% endblock %}