{% load sitetree %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for item in sitetree_items %}
            {% if item.has_children %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navMenuLink" href="#"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.title }}
                    </a>
                    {% sitetree_children of item for menu template "menu_children.html" %}
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link navMenuLink" href="{% sitetree_url for item %}">{{ item.title }} <span
                            class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
