{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ museum.meta_description }}{% endblock %}
{% block other_metas %}{{ museum.other_metas }}{% endblock %}
{% block meta_title %} {{ museum.meta_title }} {% endblock %}


{% block body %}

    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->

    <div class="homeSlide">
        <!--Slide Başlangıç-->
        <div class="pic-wrapper">
            <figure class="pic-5 fig"></figure>
            <figure class="pic-6 fig"></figure>
            <figure class="pic-7 fig"></figure>
            <figure class="pic-8 fig"></figure>
        </div>

        <div class="bgIndex"></div>

        <div class="container slideLogo">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <img width="100%" class="panoramicLogo center img-responsive"
                             src="{% static 'images/360logo.png' %}"/>
                        <h4 class="muzeHead">{{ museum.title }}</h4>
                        <div class="ptop50">
                            <a href="{% url 'panoramic_museums' museum.slug %}"
                               class="haberButon panoramicButton">{% trans '360 MÜZEYE GİT' %} <i
                                    style="padding-left: 1rem;" class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-12 padding0">
            <hr>
        </div>
    </div>

    <div class="container phoneOff">
        <div class="row">
            <div class="col-md-4 padding-top-30 borderRight">
                <h4 class="smallBaslik">{% trans 'AÇILIŞ SAATİ' %}</h4>
                <p class="smallAltBaslik padding-top-30">{% trans 'HAFTA İÇİ' %} : {{ museum.opening_time }} <br>
                    {% trans 'HAFTA SONU KAPALI' %}
                </p>
            </div>
            {% if last_event %}
                <div class="col-md-4 padding-top-30 borderRight">
                    <h4 class="smallBaslik">{% trans 'GÜNCEL ETKİNLİKLER' %}</h4>
                    <p class="smallAltBaslik padding-top-30">
                        <a style="color: white;"
                           href="{% url 'event_detail' last_event.slug %}">{{ last_event.title }} </a> <br>
                        <a style="color: white;"
                           href="{% url 'event_detail' last_event.slug %}">{{ last_event.date_range }}</a>
                    </p>
                </div>
            {% endif %}

            <div class="col-md-4 padding-top-30">
                <div class="katre">
                    {% if museum.pdf %}
                        <a href="{{ museum.pdf.url }}" class="hotelKatre">
                            PDF {% trans 'İNDİR' %} <i class="far fa-file-pdf"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid hakkimizdaBg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center hakkimizdaMetin">
                    <p>
                        {{ museum.content | safe }}
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!--Traveling Places Başlangıç-->
    {% include 'places_rooms.html' %}
    <!--Traveling Places Bitiş-->


    <!--News Activity Başlangıç-->
    {% include 'new_events.html' %}
    <!--New Activity Bitiş-->


    <!--Gallery Başlangıç-->
    {% include 'museum_gallery.html' %}
    <!--Gallery Bitiş-->


{% endblock %}