{% load static %}
{% load i18n %}

<div class="container-fluid galeriBg">
    <div class="container">
        {% if galleries %}
            <div class="row">
                <div class="col-md-10">
                    <h4 class="baslikSmall colorWhite">{{ museum.title }}</h4>
                    <h1 class="bigBaslik paddingt15 colorWhite">{% trans 'Galeri & Videolar' %}</h1>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="ımgOne" tabindex="-1" role="dialog" aria-labelledby="ımgOne"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <button type="button" class="close modalImgClose" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body ımgModalBody">

                            <div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for item in galleries %}
                                        {% if forloop.first %}
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                                            </div>
                                        {% else %}
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleFade" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleFade" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ptop50">

                {% for item in galleries %}
                    <div class="col-md-4" style="margin-top: 2rem;">
                        <img class="galeriImg" width="100%" data-toggle="modal" data-target="#ımgOne"
                             src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                    </div>
                {% endfor %}

            </div>
        {% endif %}
    </div>
</div>