{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ my_logo.meta_description }}{% endblock %}
{% block other_metas %}{{ my_logo.other_metas }}{% endblock %}
{% block meta_title %} {{ my_logo.meta_title }} {% endblock %}


{% block body %}

    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->

<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{{ my_logo.title }}</h4>
    </div>
</div>

    <!--My Logo Finish-->
    {{ my_logo.content |safe }}
    <!--My Logo Finish-->


    <hr class="hrTwo">

    <!--Blog Başlangıç-->

    {% include 'blog.html' %}

    <!--Blog Bitiş-->


{% endblock %}