{% load static %}
{% load i18n %}

<hr class="hrTwo">
{% if events %}
    <div class="container-fluid icBg" >
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="baslikSmall">{% trans 'YAKINDA' %}</h4>
                    <h1 class="bigBaslik paddingt15">{% trans 'Güncel Etkinlikler' %}</h1>
                </div>
                <div class="col-md-2 text-center">
                    <div class="tamamı"><a href="{% url 'events' %}">{% trans 'TAMAMINI' %}<br>
                        {% trans 'GÖSTER' %}</a></div>
                </div>
            </div>
            <div class="row pTop80" style="padding-top: 2rem;">
                {% for event in events %}
                    <div class="col-md-3 padding-bottom3">
                        <div class="row pTop20">
                            <div class="col-md-12">
                                <p><img src="{{ event.thumbnail_image.url }}" width="100%" /></p>
                                <div class="eventMetin">
                                    <smal class="evetSmall">{{ event.title }}</smal>
                                    <h3 class="eventBaslik">{{ event.short_description }}</h3>
                                    <small class="eventDAte">{{ event.date_range }}</small></div>

                                <div class="eventDevam"><a
                                        href="{% url 'event_detail' event.slug %}">{% trans 'DEVAMI' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endif %}

