{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ news_page.meta_description }}{% endblock %}
{% block other_metas %}{{ news_page.other_metas }}{% endblock %}
{% block meta_title %}{{ news_page.meta_title }}{% endblock %}


{% block body %}


    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->

<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{% trans 'Duyurular' %}</h4>
    </div>
</div>




    <div class="container-fluid icBg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <h1 class="bigBaslik" style="font-size: 30px;">{% trans 'Ada Duyurular' %}</h1>
                    </div>
                </div>
            </div>
            <form action="" method="get">
                <div class="row ptop50">
                    <div class="col-md-4 p0">
                        <div class="form-group">
                            <input type="date" class="form-control ınputType" id="exampleInputDate" name="start_date"
                                   aria-describedby="date" placeholder="11.11.2020" value="{{ start_date }}" required>
                        </div>
                    </div>
                    <div class="col-md-4 p0 p1">
                        <div class="form-group">
                            <input type="date" class="form-control ınputType" id="exampleInputDate" name="end_date"
                                   aria-describedby="date" placeholder="11.11.2020" value="{{ end_date }}"required>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 p0">
                        <input type="submit" formaction="{% url 'news' %}" name="news" class="btn btn-date"
                               value="{% trans 'Duyuruları Gör' %}"/>
                    </div>
                </div>
            </form>

            {% if news %}
                  {% for new in news %}
                    <div class="row pTop20">
                        <div class="col-md-12 haberSatır">
                            <div class="row">
                                <div class="col-md-1 bosDiv">&nbsp;</div>
                                <div class="col-md-2">
                                    {% if new.thumbnail_image %}
                                        <p><img class="haberImg" src="{{ new.thumbnail_image.url }}" width="100%"/></p>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 haberMetinTablet">
                                    <h3 class="haberBaslik">{{ new.title }}</h3>
                                    <small class="haberMetin">{{ new.short_description }}</small></div>
                                <div id="gtx-trans" style="position: absolute; left: 286px; top: 221.556px;">
                                    <div class="gtx-trans-icon">&nbsp;</div>
                                </div>
                                <div class="col-md-2 mTop4 haberButton">
                                    <a class="haberButon"
                                       href="{% url 'news_detail' new.slug %}">{% trans 'Duyuru Gör' %}</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <!--Blog Başlangıç-->

    {% include 'blog.html' %}

    <!--Blog Bitiş-->
{% endblock %}