{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body %}

    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->

<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{% trans '360 Müze' %}</h4>
    </div>
</div>

    <div class="container-fluid icBg ">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="baslikSmall">{{ museum.title }}</h4>
                    <h1 class="bigBaslik paddingt15">{{ panoramic.title }}</h1>
                </div>
            </div>
            <div class="row ptop50">
                <div class="col-md-12">
                    <iframe width="100%" height="650" allowfullscreen style="border-style:none;"
                            src="https://cdn.pannellum.org/2.5/pannellum.htm#panorama=https%3A//im.haberturk.com/2019/05/23/ver1558598226/2472763_810x458.jpg"></iframe>
                </div>
            </div>
            <div class="row ptop50">
                <div class="col-md-12">
                    <p>
                        {{ museum.content | safe}}
                    </p>
                </div>
            </div>
        </div>

    </div>


    <!--Traveling Places Başlangıç-->

{#    {% include 'places.html' %}#}

    <!--Traveling Places Bitiş-->

    <!--Gallery Başlangıç-->
    {% include 'museum_gallery.html' %}
    <!--Gallery Bitiş-->
{% endblock %}