{% load static %}
{% load i18n %}

{% if place_rooms %}
    <hr class="hrTwo">
    <div class="container-fluid icBg">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="baslikSmall">{% trans 'DEMOKRASİ VE ÖZGÜRLÜK MÜZESİ' %}</h4>
                <h1 class="bigBaslik paddingt15">{% trans 'Gezilecek Yerler & Odalar' %}</h1>
            </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for items in place_rooms %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="row ptop50">
                            {% for item in items %}
                                <div class="col-md-3">
                                    {% if item.image %}
                                        <img width="100%" src="{{ item.image.url }}" alt="{{ item.image_alt_text }}"/>
                                    {% endif %}

                                    <div class="blogLine"></div>
                                    <div class="blogMetin">
                                        <smal class="evetSmall">{{ item.small_title }}</smal>
                                        <h3 class="eventBaslik">{{ item.head_title }}</h3>
                                        <div class="blogDevam"><a
                                                href="{% url 'panoramic_museums' item.museum.slug %}">{% trans '360 GÖRÜNTÜLE' %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="carousel-control-prev prev mobilSlide1" href="#carouselExampleControls" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next next mobilSlide2" href="#carouselExampleControls" role="button" data-slide="next">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}



