{% load static %}
{% block slider %}

    <div class="pic-wrapper">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex"></div>
{% endblock slider %}