{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ sss_page.meta_description }}{% endblock %}
{% block other_metas %}{{ sss_page.other_metas }}{% endblock %}
{% block meta_title %}{{ sss_page.meta_title }}{% endblock %}

{% block body %}

    <!--Head başlangıç-->
    {% include 'head.html' %}
    <!--head bitiş-->

<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{% trans 'Sıkça Sorulan Sorular' %}</h4>
    </div>
</div>


    <div class="container-fluid icBg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="baslikSmall">{% trans 'DEMOKRASİ VE ÖZGÜRLÜK ADASI NEREDEDİR' %} ?</h4>
                    <h1 class="bigBaslik paddingt15">{{ first_sss.questions }}  </h1>
                </div>
            </div>
            <div class="row ptop50">
                <div class="col-md-12">
                    <p>
                        {{ first_sss.answer | safe}}
                    </p>
                </div>
            </div>

            <div class="row ptop20">
                {% if sss %}
                    {% for item in sss %}
                        <div class="col-md-12">
                            <p>
                            <h3 style="cursor: pointer;font-size: 18px;" type="button" data-toggle="collapse"
                                data-target="#soru{{ item.id }}" aria-expanded="false" aria-controls="collapseExample">
                                {{ item.questions }} <span class="collapseArrow"><i
                                    class="fas fa-chevron-down"></i></span>
                            </h3>
                            </p>
                            <div class="collapse" id="soru{{ item.id }}">
                                <div class="card card-body" style="background: #fff !important;">
                                    {{ item.answer | safe}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>


    <hr class="hrTwo">

    <!--Blog Başlangıç-->

    {% include 'blog.html' %}

    <!--Blog Bitiş-->





{% endblock %}