{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ transportation.meta_description }}{% endblock %}
{% block other_metas %}{{ transportation.other_metas }}{% endblock %}
{% block meta_title %} {{ transportation.meta_title }} {% endblock %}

{% block body %}


    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->

<div style="height:446px;">
    <!--Slide Başlangıç-->
    <div class="pic-wrapper bgHakkimizda">
        <figure class="pic-1 fig"></figure>
        <figure class="pic-2 fig"></figure>
        <figure class="pic-3 fig"></figure>
        <figure class="pic-4 fig"></figure>
    </div>

    <div class="bgIndex bgHakkimizda"></div>

    <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
        <h4 class="title">{% trans 'Ulaşım' %}</h4>
    </div>
</div>


        <div class="container-fluid icBg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="baslikSmall">{{ transportation.title }}</h4>
                    <h1 class="bigBaslik paddingt15">{{ transportation.description_title}}</h1>
                    <p class="iletisimDetay">{{ transportation.description | safe}}</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="hrTwo">

    <div class="container-fluid icBg" style="background: #fff;" id="seferSaatleri">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="baslikSmall">{% trans 'ADAYA ULAŞIM' %}</h4>
                    <h1 class="bigBaslik paddingt15">{% trans 'Sefer Saatleri' %}</h1>
                </div>
            </div>
            {% for item in departure %}
            <div class="container mTop4 shadows">
                <h4 class="baslikSmall" style="text-align: center">{{ item.harbor_name }}</h4>
                <div class="row ">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 tableHead">
                        <div class="row text-center">
                            <div class="col-md-3 sol-dizi">
                                <a><i class="far fa-calendar-alt"></i> {% trans 'GÜNLER' %}</a>
                            </div>
                            <div class="col-md-4 sol-dizi">
                                <a><i class="far fa-clock"></i>{% trans 'LİMAN KALKIŞ' %}</a>
                            </div>
                            <div class="col-md-5 sol-dizi">
                                <a><i class="far fa-clock"></i>{% trans 'ADA KALKIŞ' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                 {{ item.departureTime |safe }}
            </div>
                {% if item.departureInfo %}
                <div class="row mTop4">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                    <p>{{ item.departureInfo }}</p>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



{% endblock %}