{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}{{ travel_places_page.meta_description }}{% endblock %}
{% block other_metas %}{{ travel_places_page.other_metas }}{% endblock %}
{% block meta_title %}{{ travel_places_page.meta_title }}{% endblock %}

{% block body %}


    <!--Head Başlangıç-->
    {% include 'head.html' %}
    <!--Head Bitiş-->

    <div style="height:446px;">
        <!--Slide Başlangıç-->
        <div class="pic-wrapper bgHakkimizda">
            <figure class="pic-1 fig"></figure>
            <figure class="pic-2 fig"></figure>
            <figure class="pic-3 fig"></figure>
            <figure class="pic-4 fig"></figure>
        </div>

        <div class="bgIndex bgHakkimizda"></div>

        <div style="text-align: center;position:absolute;width:100%;margin-top:5.5rem;">
            <h4 class="title">{{ travel_places_page.title }}</h4>
        </div>
    </div>


    <div class="container-fluid icBg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="baslikSmall">{% trans 'DEMOKRASİ VE ÖZGÜRLÜK MÜZESİ' %}</h4>
                    <h1 class="bigBaslik paddingt15">{% trans 'Gezilecek Yerler' %}</h1>
                </div>
            </div>
            <div class="row ptop50">
                <div class="col-md-12">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for item in travel_place_slider %}
                                <div class="carousel-item {% if forloop.first %} active{% endif %}">
                                    <img src="{{ item.image.url }}" class="d-block w-100"
                                         alt="{{ item.image_alt_text }}">
                                    <a href="{% url 'travel-places-detail' item.travel_places.slug %}">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>{{ item.title }}</h5>
                                            <p>{{ item.short_description }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row ptop50">
                <div class="col-md-12">
                    <p>
                        {{ travel_places_page.content | safe }}
                    </p>
                </div>
            </div>
        </div>

    </div>


    <hr class="hrTwo">

    <!--Traveling Places Başlangıç-->
    {% include 'places_rooms.html' %}
    <!--Traveling Places Bitiş-->


    <div class="container-fluid galeriBg">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="baslikSmall colorWhite">DEMOKRASİ VE ÖZGÜRLÜK ADASI</h4>
                    <h1 class="bigBaslik paddingt15 colorWhite">Galeri & Videolar</h1>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="ımgOne" tabindex="-1" role="dialog" aria-labelledby="ımgOne"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <button type="button" class="close modalImgClose" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body ımgModalBody">

                            <div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for item in galleries %}
                                        {% if item.id == first_gallery.id %}
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{{ item.image.url }}"
                                                     alt="{{ item.image_alt_text }}">
                                            </div>
                                        {% else %}
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{{ item.image.url }}"
                                                     alt="{{ item.image_alt_text }}">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev " href="#carouselExampleFade" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next " href="#carouselExampleFade" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ptop50">
                {% if galleries %}
                    {% for item in galleries %}
                        <div class="col-md-4" style="margin-top: 2rem;">
                            <img class="galeriImg" width="100%" data-toggle="modal" data-target="#ımgOne"
                                 src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>


{% endblock %}